@font-face {
    font-family: "Digital";
    src:
        local("./DS-DIGI.TTF"),
        url("./DS-DIGIB.TTF") format("opentype") tech(color-COLRv1),
        url("./DS-DIGII.TTF") format("opentype"),
        url("./DS-DIGIT.TTF") format("woff");
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(31, 2, 2);
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vw;
}

.display {
    display: flex;
    justify-content: center;
    gap: 0vw;
    font-family: Digital;
    font-weight: 900;
    color: rgb(47, 135, 47);
    font-size: 10vw;
}

.sec {
    min-width: 11vw;

}

.min {
    min-width: 11vw;
}

.hour {
    min-width: 11vw;
}

.enterTime {
    display: flex;
    justify-content: center;
    gap: 0vw;

}

.enterTime input {
    font-size: 5vw;
    min-width: 6vw;
    font-family: Digital;
    ;
}

.control {
    display: flex;
    justify-content: center;
}



@media only screen and (max-width: 600px) {}